// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Default Layer";
            bindings = <
        //╭─────────────┬─────────────┬────────────┬────────────┬──────────╮   ╭────────────┬────────────┬────────────────┬───────────────┬────────────────╮
        //│  Q          │  W          │  E         │  R         │  T       │   │  Y         │  U         │  I             │  O            │  P             │
            &kp Q         &kp W        &kp E         &kp R        &kp T          &kp Y        &kp U        &kp I            &kp O           &kp P
        //├─────────────┼─────────────┼────────────┼────────────┼──────────┤   ├────────────┼────────────┼────────────────┼───────────────┼────────────────┤
        //│  A          │  S          │  D         │  F         │  G       │   │  H         │  J         │  K             │  L            │  ; :           │
            &kp A         &kp S         &kp D         &kp F       &kp G          &kp H        &kp J        &kp K            &kp L           &kp SEMI
        //├─────────────┼─────────────┼────────────┼────────────┼──────────┤   ├────────────┼────────────┼────────────────┼───────────────┼────────────────┤
        //│  Z          │  X          │  C         │  V         │  B       │   │  N         │  M         │ , <            │ . >           │ / ?            │
            &ht LSHFT Z   &ht LCTRL X   &ht LALT C   &ht LGUI V   &kp B          &kp N        &ht RGUI M   &ht RALT COMMA   &ht RCTRL DOT   &ht RSHFT FSLH
        //╰─────────────┴─────────────┴────────────┼────────────┼──────────┤   ├────────────┼────────────┼────────────────┴───────────────┴────────────────╯
                                                     &lt 2 TAB    &kp SPACE     &lt 1 ENTER   &kp BSPC
        //                                         ╰────────────┴──────────╯   ╰────────────┴────────────╯
            >;
        };

        right_layer {
            display-name = "Right Layer";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  1       │  2       │  3       │          │   │ HOME     │ PAGE DN  │ PAGE UP  │ END      │          │
            &trans     &kp N1     &kp N2     &kp N3     &trans         &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ DELETE   │  4       │  5       │  6       │          │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │ ' "      │
            &kp DEL    &kp N4     &kp N5     &kp N6     &trans         &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CAPS     │  7       │  8       │  9       │  0       │   │          │          │          │          │          │
           &caps_word  &kp N7     &kp N8     &kp N9     &kp N0         &trans     &trans     &trans     &trans    &kp LC(LA(DEL))
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │ Escape   │   │          │          │
                                             &trans     &kp ESC        &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        
        left_layer {
            display-name = "Left Layer";
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  [       │  {       │  }       │          │   │  ^       │  (       │  )       │  ]       │  ~       │
            &trans     &kp LBKT   &kp LBRC   &kp RBRC   &trans         &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT   &kp TILDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  !       │  @       │  #       │  $       │  %       │   │  *       │  -       │  =       │  \       │  `       │
            &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT      &kp ASTRK  &kp MINUS  &kp EQUAL  &kp BSLH   &kp GRAVE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  &       │  _       │  +       │  │       │          │
            &sk LSHFT  &sk LCTRL  &sk LALT   &sk LGUI   &trans         &kp AMPS   &kp UNDER  &kp PLUS   &kp PIPE   &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            display-name = "Tri Layer";
            bindings = <
        //╭──────────┬─────────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │ PROFILE 0   │          │          │          │   │ F1       │ F2       │ F3       │ F10      │          │
           &sys_reset  &bt BT_SEL 0  &trans     &trans     &trans         &kp F1     &kp F2     &kp F3     &kp F10    &trans
        //├──────────┼─────────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│ PROFILE 1   │          │          │          │   │ F4       │ F5       │ F6       │ F11      │          │
           &bootloader &bt BT_SEL 1  &trans     &trans     &trans         &kp F4     &kp F5     &kp F6     &kp F11    &trans
        //├──────────┼─────────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CLEAR BT │ PROFILE 2   │          │          │          │   │ F7       │ F8       │ F9       │ F12      │          │
           &bt BT_CLR  &bt BT_SEL 2  &trans     &trans     &trans         &kp F7     &kp F8     &kp F9     &kp F12    &trans
        //╰──────────┴─────────────┴──────────┼──────────┼──────────┤   ├──────────┴──────────┼──────────┼──────────┴──────────╯
                                                &trans     &trans         &trans     &trans
        //                                    ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
